<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CargoCreateDlg" widgetVar="CargoCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateCargoTitle}">
            <h:form id="CargoCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{cargoController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateCargoLabel_id}" for="id" />
                        <p:inputText id="id" value="#{cargoController.selected.id}" title="#{bundle.CreateCargoTitle_id}" />
                        <p:outputLabel value="#{bundle.CreateCargoLabel_nome}" for="nome" />
                        <p:inputText id="nome" value="#{cargoController.selected.nome}" title="#{bundle.CreateCargoTitle_nome}" required="true" requiredMessage="#{bundle.CreateCargoRequiredMessage_nome}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{cargoController.create}" value="#{bundle.Save}" update="display,:CargoListForm:datalist,:growl" oncomplete="handleSubmit(args,'CargoCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CargoCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
