<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListCargoTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
                <h:form id="CargoListForm">
                    <p:panel header="#{bundle.ListCargoTitle}">
                        <p:dataTable id="datalist" value="#{cargoController.items}" var="item"
                            selectionMode="single" selection="#{cargoController.selected}"
                            paginator="true"
                            rowKey="#{item.id}"
                            rows="10"
                            rowsPerPageTemplate="10,20,30,40,50"
                            >

                            <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                            <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListCargoTitle_id}"/>
                                </f:facet>
                                <h:outputText value="#{item.id}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListCargoTitle_nome}"/>
                                </f:facet>
                                <h:outputText value="#{item.nome}"/>
                            </p:column>
                            <f:facet name="footer">
                                <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{cargoController.prepareCreate}" update=":CargoCreateForm" oncomplete="PF('CargoCreateDialog').show()"/>
                                <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":CargoViewForm" oncomplete="PF('CargoViewDialog').show()" disabled="#{empty cargoController.selected}"/>
                                <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":CargoEditForm" oncomplete="PF('CargoEditDialog').show()" disabled="#{empty cargoController.selected}"/>
                                <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{cargoController.destroy}" update=":growl,datalist" disabled="#{empty cargoController.selected}"/>
                            </f:facet>
                        </p:dataTable>
                    </p:panel>
                </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
