<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CargoViewDlg" widgetVar="CargoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewCargoTitle}">
            <h:form id="CargoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{cargoController.selected != null}">
                        <h:outputText value="#{bundle.ViewCargoLabel_id}"/>
                        <h:outputText value="#{cargoController.selected.id}" title="#{bundle.ViewCargoTitle_id}"/>
                        <h:outputText value="#{bundle.ViewCargoLabel_nome}"/>
                        <h:outputText value="#{cargoController.selected.nome}" title="#{bundle.ViewCargoTitle_nome}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="CargoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
