<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FuncionarioEditDlg" widgetVar="FuncionarioEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditFuncionarioTitle}">
            <h:form id="FuncionarioEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{funcionarioController.selected != null}">
                        <p:outputLabel value="#{bundle.EditFuncionarioLabel_cargo}" for="cargo" />
                        <p:selectOneMenu id="cargo" value="#{funcionarioController.selected.cargo}" required="true" requiredMessage="#{bundle.EditFuncionarioRequiredMessage_cargo}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{cargoController.itemsAvailableSelectOne}"
                                           var="cargoItem"
                                           itemValue="#{cargoItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditFuncionarioLabel_nome}" for="nome" />
                        <p:inputText id="nome" value="#{funcionarioController.selected.nome}" title="#{bundle.EditFuncionarioTitle_nome}" required="true" requiredMessage="#{bundle.EditFuncionarioRequiredMessage_nome}"/>
                        <p:outputLabel value="#{bundle.EditFuncionarioLabel_nasc}" for="nasc" />
                        <p:calendar id="nasc" pattern="MM/dd/yyyy" value="#{funcionarioController.selected.nasc}" title="#{bundle.EditFuncionarioTitle_nasc}" required="true" requiredMessage="#{bundle.EditFuncionarioRequiredMessage_nasc}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditFuncionarioLabel_id}" for="id" />
                        <p:inputText id="id" value="#{funcionarioController.selected.id}" title="#{bundle.EditFuncionarioTitle_id}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{funcionarioController.update}" value="#{bundle.Save}" update="display,:FuncionarioListForm:datalist,:growl" oncomplete="handleSubmit(args, 'FuncionarioEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="FuncionarioEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
