<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FuncionarioViewDlg" widgetVar="FuncionarioViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewFuncionarioTitle}">
            <h:form id="FuncionarioViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{funcionarioController.selected != null}">
                        <h:outputText value="#{bundle.ViewFuncionarioLabel_cargo}"/>
                        <h:outputText value="#{funcionarioController.selected.cargo}" title="#{bundle.ViewFuncionarioTitle_cargo}"/>
                        <h:outputText value="#{bundle.ViewFuncionarioLabel_nome}"/>
                        <h:outputText value="#{funcionarioController.selected.nome}" title="#{bundle.ViewFuncionarioTitle_nome}"/>
                        <h:outputText value="#{bundle.ViewFuncionarioLabel_nasc}"/>
                        <h:outputText value="#{funcionarioController.selected.nasc}" title="#{bundle.ViewFuncionarioTitle_nasc}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewFuncionarioLabel_id}"/>
                        <h:outputText value="#{funcionarioController.selected.id}" title="#{bundle.ViewFuncionarioTitle_id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="FuncionarioViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
