<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="welcomePrimefaces" value="Página de boas-vindas do Primefaces" />
        <br />
        <h:link outcome="/funcionario/List" value="Show All Funcionario Items"/>
        <br />
        <h:link outcome="/funcionario/List" value="Show All Funcionario Items"/>
        <br />
        <h:link outcome="/cargo/List" value="Show All Cargo Items"/>
        <br />
        <h:link outcome="/funcionario/List" value="Show All Funcionario Items"/>
        <br />
        <h:link outcome="/cargo/List" value="Show All Cargo Items"/>
        <br />
        <h:link outcome="/funcionario/List" value="Show All Funcionario Items"/>
        <br />
        <h:link outcome="/cargo/List" value="Show All Cargo Items"/>
        <br />
        <h:link outcome="/funcionario/List" value="Show All Funcionario Items"/>
        <br />
        <h:link outcome="/cargo/List" value="Show All Cargo Items"/>
        <br />
        <h:link outcome="/funcionario/List" value="Show All Funcionario Items"/>
        <br />
        <h:link outcome="/cargo/List" value="Show All Cargo Items"/>
        <br />
        <h:link outcome="/funcionario/List" value="Show All Funcionario Items"/>
    </h:body>












</html>

